<h2>View vehicle</h2>
<dl>
    <dt>Make</dt>
    <dd>{{make}}</dd>
    <dt>Model</dt>
    <dd>{{model}}</dd>
    <dt>Reg. no</dt>
    <dd>{{regNo}}</dd>
</dl>

{{#if driverName}}
<div>
Driver: {{driverName}}
</div>
{{/if}}
