<div id="activity-select">
    <ul>
        <li>
            <a href="javascript:" class="activity-action" data-item="activity-add-order">Add order</a>
            <div id="form-add-order"></div>
        </li>
        <li>
            <a href="javascript:" class="activity-action" data-item="activity-service-complaint">Register service complaint</a>
            <div id="form-service-complaint"></div>
        </li>
        <li>
            <a href="javascript:" class="activity-action" data-item="activity-quality-complaint">Register quality complaint</a>
            <div id="form-quality-complaint"></div>
        </li>
        <li>
            <a href="javascript:" class="activity-action" data-item="activity-add-contact">Add contact</a>
            <div id="form-add-contact"></div>
        </li>
        <li>
            <a href="javascript:" class="activity-action" data-item="activity-call-back">Log call back</a>
            <div id="form-call-back"></div>
        </li>
        <li>
            <a href="javascript:" class="activity-action" data-item="activity-none">No activity</a>
        </li>
    </ul>
</div>

