<select name="stock-depot-select">
    <option value="">Select a depot</option>
    {{#each depot}}
    <option value="{{id}}">{{name}}</option>
    {{/each}}
</select>
<div id="stock-summary"></div>

