{{#when activity}}
<table>
    <thead>
        <tr>
            <th>Date/time</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{#each activity}}
        <tr>
            <td>{{created}}</td>
            <td>{{statusName}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
No log data available.
{{/when}}
