<div id="activity-call-type">
    <ul>
        <li><a href="#!f/customer/{{id}}/tab/register-proactive">Proactive</a></li>
        <li><a href="#!f/customer/{{id}}/tab/register-customer">Received from customer</a></li>
        <li><a href="#!f/customer/{{id}}/tab/register-visit">Customer visit</a></li>
    </ul>
</div>

