<h2>Edit user</h2>

<label for="name">Name</label><br>
<input type="text" name="name" value="{{name}}">

{{#if_ne role "admin"}} 
<br>
<label for="depot">Depot</label><br>
<select name="depot">
    {{#each depot}}
    <option value="{{id}}">{{name}}</option>
    {{/each}}
</select>
{{/if_ne}}

<br>
<input type="submit">
