<h2>Set new password</h2>

<label for="old">Present Password</label><br>
<input type="password" name="old"><br>

<label for="new">New Password</label><br>
<input id="new" type="password" name="new"><br>

<label for="confirm">Confirm New Password</label><br>
<input type="password" name="confirm"><br>

<input type="submit">

