<div>
    <label>Description</label><br>
    <textarea name="description"></textarea>
</div>
<div>
    <label>Date</label><br>
    <input name="date" type="text">
</div>
<div>
    <label>Time</label><br>
    <input name="time" type="text">
</div>
<div>
    <input type="submit">
</div>

