<h2>Add fuel to vehicle</h2>

Vehicle: {{regNo}}<br>

<label>Meter Reading</label><br>
<input type="text" name="meter-reading"><br>

<label>Amount</label><br>
<input type="text" name="amount"><br>

<input type="submit">

