<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {{#each product}}
        <tr>
            <td><a href="#!f/product/{{id}}">{{name}}</a></td>
            <td>{{customerPrice}}</td>
        </tr>
        {{/each}}
     </tbody>
</table>
