<h2>Edit area</h2>
<select name="depot">
    <option value="">No depot</option>
    {{#each depot}}
    <option value="{{id}}">{{name}}</option>
    {{/each}}
</select>
<input type="text" name="name" value="{{name}}">
<h4 style="margin:0">Call center rep.</h4>
<select id="area-edit-select-callcenter" name="callcenter-user"></select><br>
<h4 style="margin:0">Field staff user</h4>
<select id="area-edit-select-fieldstaff" name="fieldstaff-user"></select><br>
<input type="submit">
