
<div>
Name
<input type="text" name="name">
</div>

<div>
Address
<input type="text" name="address">
</div>

<input type="hidden" name="latitude">
<input type="hidden" name="longitude">


<div>
TIN
<input type="text" name="tin">
</div>

<div>
Phone
<input type="text" name="phone">
</div>

<div>
Active
<input type="checkbox" name="is-active">
</div>

<div>
Area: 
<select name="area">
    {{#each area}}
    <option value="{{id}}">{{name}}</option>
    {{/each}}
</select>
</div>

<div>
Price category: 
<select name="price-category">
    {{#each priceCategory}}
    <option value="{{id}}">{{name}}</option>
    {{/each}}
</select>
</div>

<input type="submit">

<div id="geo-meta"></div>
