<h2>Complete vehicle maintenance activity</h2>

Vehicle: {{regNo}}<br>

<label>Start time: {{maintenanceStartTime}}</label><br>

<label>End Time</label><br>
<input type="text" name="end-time"><br>

<br>
<br>

<input type="submit">

