<h2>Edit product</h2>
<div>
    <input type="text" name="name" value="{{name}}">
</div>
<div>
<input type="text" name="unit-size" value="{{unitSize}}">
</div>
<div>
<textarea name="description">{{description}}</textarea>
</div>
<div>
<input type="submit">
</div>

