<a href="#product/create">Add a product</a>
| <a href="#products">Products</a>
| <a href="#products/recover">Deleted products</a>
| <a href="#products/incomplete">Incomplete products</a> 
<table>
    <thead>
        <tr>
            <th>Name</th>
       </tr>
    </thead>
    <tbody>
        {{#each product}}
        <tr>
            <td>{{name}} <a href="javascript:" class="product-recover" data-id="{{id}}">Recover</a></td>
        </tr>
        {{/each}}
     </tbody>
</table>
