<div>
    <label>Description</label><br>
    <textarea name="description"></textarea>
</div>
<div>
    <label>Date</label><br>
    <input name="date" type="text">
</div>
<div>
    <label>Time</label><br>
    <input name="time" type="text">
</div>
<div>
    <label>Task</label><br>
    <select name="task-type">
        <option value="1">Call back</option>
        <option value="2">Scheduled visit</option>
    </select>
</div>
<div>
    <input type="submit">
</div>

