<a href="#damage-type/create">Add damage type</a>
<table>
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {{#each item}}
        <tr>
            <td>{{name}}</td>
            <td><a href="#damage-type/edit/{{id}}">Edit</a></td>
            <td><a href="#damage-type/delete/{{id}}">Delete</a></td>
        </tr>
        {{/each}}
     </tbody>
</table>

