<h5>Call center task settings</h5>

<label>Customer contact follow-up time interval</label><br>
<input type="text">
<br>

<label>Customer order follow-up time interval</label><br>
<input type="text">
<br>

<h5>Field staff task settings</h5>

<label>Customer visit time interval</label><br>
<input type="text">
<br>

<label>Order inactivity time interval</label><br>
<input type="text">
<br>

<input type="submit">

